body {
  box-sizing: border-box;
  overflow-x: hidden;
  padding-bottom: 4rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  filter: brightness(150%);
  transition: all 0.2s ease;
}

.container {
  width: 90vw;
  max-width: 500px;
  padding: 1rem;
}

.container h1 {
  font-weight: 500;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #0C1541;
  color: #787FA3;
  padding: 1rem;
  padding-bottom: 1.4rem;
  border-bottom: 2.5px solid #787FA3;
}

.logo {
  width: 200px;
  height: 30px;
  /* width: 20rem;
  height: 2.5rem; */
}

nav {
  position: absolute;
  background-color: #0C1541;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  width: 60%;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
  flex-direction: column;
  z-index: 10;
}

.cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  filter: invert(100%);
}

.cross:hover {
  filter: invert(80%);
}

.cross::after {
  height: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin-bottom: 0;
  margin-top: 6rem;
  flex-direction: column;
}

nav button {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0;
  color: #787FA3;
  position: relative;
}

nav button::after {
  content: '';
  width: 0;
  height: 4px;
  background-color: #787FA3;
  position: absolute;
  border-radius: 5rem;
  left: 0;
  bottom: -8px;
  transition: all .5s ease;
}

nav button:hover {
  filter: brightness(150%);
}

nav button:hover::after {
  width: 100%;
  transition: all .5s ease;
}

nav li img {
  margin-right: 0.4rem;
}

.nav-btn {
  cursor: pointer;
}

.profile-btn {
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  border-radius: 20rem;
  margin: 1rem 0;
}

.profile-btn:hover {
  filter: brightness(100%);
}

.profile-btn::after {
  height: 0;
}

.profile-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-btn-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 3rem 3rem 1rem 1rem;
  gap: 0.8rem;
  position: relative;
}

.profile-btn-menu img {
  width: 22px;
}

.profile-btn-menu button {
  display: flex;
  gap: 0.4rem;
  font-size: 1.2rem;
  color: #7D7A7A;
  padding: 0;
}

.profile-btn-menu-div {
  position: relative;
}

.profile-btn-menu-div button::after {
  background-color: #7D7A7A;
}

.cross2 {
  position: absolute;
  right: 10px;
  top: 8px;
}

.cross2:hover {
  filter: invert(80%);
}

.cross2::after {
  height: 0;
}

.hero-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#0C1541 60%, transparent 40%);
  width: 100vw;
  color: white;
}

.hero-child1 h1 {
  margin: 3rem 0;
  font-weight: 500;
  font-size: 1.8rem;
}

.hero-child2 {
  color: #0C1541;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.4rem;
}

.hero-child2 h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
}

.hero-child2 p {
  color: black;
  margin: 2rem 0;
  font-size: 1.3rem;
  text-align: center;
  padding: 1.2rem;
}

.hero-child2 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero-child2 button:hover {
  transform: scale(1.1);
  transform: all .4s ease;
}

.pomodoro-main {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 70%;
}

.pomodoro-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.pomodoro-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  width: 250px;
  position: relative;
}

.pomo-timer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomodoro-info {
  font-size: 1.2rem;
  width: 300px;
  color: #7D7A7A;
}

.pomodoro-info h4 {
  font-size: 1rem;
}

.pomo-start {
  background-color: #0C1541;
  color: white;
  font-size: 1.2rem;
  padding: .4rem 1rem;
  margin-top: 1rem;
  border-radius: .3rem;
  width: 40%;
}

.edit-timer-btn {
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.edit-timer {
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-timer label {
  font-weight: 500;
  font-size: 1rem;
}

.edit-timer .slider {
  height: 25px;
  border-radius: 2rem;
  border: 2px solid #0C1541;
  width: 100%;
  margin: .5rem 0 1.2rem 0;
}

.edit-timer .secondary {
  border: 2px solid #787FA3;
}


.back-btn {
  background-color: #0C1541;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}

.edit-timer .thumb {
  background-color: #0C1541;
  cursor: grab;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.edit-timer .secondary-thumb {
  background-color: #787FA3;
}

.edit-timer .track {
  background-color: #0C1541;
  color: #0C1541;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.box button {
  width: 100%;
  height: 100%;
}

.list-item p {
  display: inline;
  margin: 0.6rem 0;
}

.list-area {
  width: 91%;
  background-color: white;
  border-radius: 1rem;
  margin-top: 6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.3rem 1.1rem;
}

.list-input {
  width: 95%;
  position: relative;
}

.task-input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #7D7A7A;
  background-color: transparent;
  padding: 0.4rem;
  font-size: 1rem;
  margin-top: 2rem;
}

.task-input::placeholder {
  color: #7D7A7A;
}

.add-task-btn {
  background-color: #0C1541;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-top: 1rem;
  position: absolute;
  right: -14px;
}

.notes-main .container {
  padding: 0;
}

.notes-inner {
  width: 100%;
}

.notes-inner-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  position: relative;
  padding-top: 4rem;
}

.note {
  width: 180px;
  background-color: white;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  padding-bottom: 1.5rem;
}

.title-edit {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-title {
  margin: 0;
  font-size: 1.25rem;
}

.edit-note-btn img {
  width: 30px;
}

.delete-icon {
  padding: 0;
  filter: opacity(0.6);
  position: absolute;
  bottom: 4px;
  left: 12px;
}

.delete-icon:hover {
  filter: opacity(1);
}

.delete-icon img {
  width: 30px;
}

.notes-outer {
  width: 100%;
}

.notes-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit-menu {
  width: 100%;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.edit-menu form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 1.15rem;
  margin-bottom: 0.4rem;
}

form input,
textarea {
  padding: 0.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  border-radius: .2rem;
  border: 1px solid #7D7A7A;
}

.note-done-btn {
  margin-top: 0.6rem;
  background-color: #0C1541;
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2rem;
  width: 50%;
}

.back {
  padding: 0;
  margin-bottom: 0.6rem;
  color: #7D7A7A;
  width: 8%;
}

.add-note-btn {
  background-color: #0C1541;
  color: white;
  font-size: 1.3rem;
  padding: 0.6rem 1rem;
  font-weight: 500;
  border-radius: 0.6rem;
  position: absolute;
  right: 9px;
  top: 0;
}

.list-delete-btn img {
  width: 30px;
}

.list-delete-btn {
  filter: opacity(.6);
  padding: 0;
}

.list-delete-btn:hover {
  filter: opacity(1);
}

.auth-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0C1541;
  overflow-y: hidden;
  margin-bottom: -4rem;
}

.auth-logo {
  width: 300px;
  margin-bottom: 2rem;
}

.auth-main .container {
  width: 280px;
  background-color: white;
  border-radius: 0.6rem;
}

.auth-main h1 {
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}

.auth-main form {
  display: flex;
  flex-direction: column;
}

.auth-main button {
  margin-top: 1rem;
  color: white;
  font-size: 1.2rem;
  padding: 0.6rem;
  border-radius: 0.8rem;
  background-color: #787FA3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.auth-main button img {
  width: 30px;
}

.auth-main button[type=submit] {
  background-color: #0C1541;
}

.auth-main button:hover {
  transform: scale(1);
}

.auth-main p {
  width: 100%;
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #7D7A7A;
  gap: 0.6rem;
}

.auth-main .signup-redirect-btn {
  width: 25%;
  padding: 0;
  margin: 0;
  color: #7D7A7A;
  font-size: 1rem;
  background-color: transparent;
  justify-content: flex-end;
  text-decoration: underline;
  justify-content: flex-start;
}

.auth-main .name {
  display: flex;
  gap: 0.4rem;
}

.auth-main .name input {
  width: 50%;
}

.loading {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #7D7A7A;
}

.loading img {
  width: 3rem;
  height: 3rem;
}

.loading p {
  font-size: 2rem;
  font-weight: 500;
}

.error {
  border: 1px solid red;
  border-radius: 0.4rem;
  padding: 0.4rem 0 0.4rem 0.4rem;
  color: red;
}

.saveItem {
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 1rem;
}

.next-parent {
  width: 100%;
  position: relative;
}

.next {
  padding: 0.4rem 0.8rem;
  background-color: #0C1541;
  color: white;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: -5px;
}

@media (min-width: 420px) {

  .auth-logo,
  .auth-main .container {
    width: 400px;
  }
}

@media (min-width: 786px) {
  .container {
    max-width: 900px;
  }

  .list-area {
    width: 92%;
  }

  .edit-menu {
    width: 50%;
  }

  .pomodoro-timer {
    padding: 3.5rem 4rem;
  }

  .pomodoro-inner {
    flex-direction: row;
  }

  .cross {
    display: none;
  }

  .logo {
    width: 250px;
    height: 50px;
    margin-left: 30px;
  }

  .navbar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    padding: 1.2rem 0;
  }

  nav {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 100%;
    padding: 0;
    width: 65%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    gap: 2rem;
  }

  .profile-btn {
    position: relative;
    bottom: 0;
    right: 30px;
    font-size: 2rem;
    background-color: #787FA3;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-main {
    width: 10%;
  }

  .profile-btn-menu {
    position: absolute;
    top: 100%;
    right: 7%;
  }
}

@media (min-width: 1080px) {
  .container {
    max-width: 1100px;
  }

  .pomodoro-info {
    width: 50%;
  }

  .list-area {
    width: 93%;
  }

  .pomodoro-timer {
    padding: 3rem 5rem;
  }
}